html, body, .root {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
  }
  
  body, .app {
    background: white;
  }

  .main-page-title {
    background-color: green;
    text-align: center;
    padding: 10px 0;
  }

  .main-page-title h1{
    margin: 0;
    color: white;
    font-weight: 400;
  }
  .bookshelf{

  }
  .book-shelf-title {
    margin-left: 20px ;
    border-bottom: 1px solid black;
  }
  .book-shelf-books{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 20px 0px;
  }

  .book-shelf-books li{
    margin: 0 25px;
  }
  .book-top{
    position: relative;
  }

  .book-image{
    background-image: url("http://books.google.com/books/content?id=PGR2AwAAQBAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE73-GnPVEyb7MOCxDzOYF1PTQRuf6nCss9LMNOSWBpxBrz8Pm2_mFtWMMg_Y1dx92HT7cUoQBeSWjs3oEztBVhUeDFQX6-tWlWz1-feexS0mlJPjotcwFqAg6hBYDXuK_bkyHD-y&source=gbs_api");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .book-shelf-change{
    position: absolute;
    right: 0px;
    bottom: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #60ac5d;
    background-image: url('./icons/arrow-drop-down.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .book-shelf-change select{
    opacity: 0;
  }
  .book-title{
    margin: 0;
    font-size: 0.8em;
    width: 135px;
  }
  .book-title p{
    margin-bottom: 0;
  }
  .book-author{
    color: #999;
    font-size: 0.8em;
  }
  .book-author p{
    margin: 0;
  }

  .gotosearch{
    position: fixed;
    bottom: 25px;
    right: 25px;
  }
  .gotosearch{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #60ac5d;
    background-image: url('./icons/add.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 0;
  }
  .gotosearch button:hover{
    background-color: rgb(0, 102, 0);
  }

  
  .search-bar{
    display: flex;
    width: 100%;
    height: 50px;
  }

  .search-bar-back{
    display: block;
    width: 50px;
    height: 50px;
    background: #60ac5d;
    background-image: url('./icons/arrow-back.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 0;
  }

  .search-bar-input{
    flex: 1;
  }

.search-results{
  padding: 20px;
  width:100%;
  display: flex;
  flex-wrap: wrap;
}
.book{
  margin: 20px;
}